# Note: code snippets are here only temporarily; they should be moved back to the corresponding action page when the SDK properly supports these actions

### UPDATE ###
```php
<?php

use Inspetor;

$inspetor = $this->getConfiguredInspetor();

$inspetor->trackSaleUpdate($sale);

?>
```
```python 
import inspetor

inspetor = self.getConfiguredInspetor()

inspetor.track_sale_update(sale)

```
### CREATE ###
```php
<?php

use Inspetor;

$inspetor = $this->getConfiguredInspetor();

$inspetor->trackSaleCreation($sale);

?>
```
```python 
import inspetor

inspetor = self.getConfiguredInspetor()

inspetor.track_sale_creation(sale)

```

The following functions provide Inspetor with information on sales that happen within your platform. The main activities that we track are the following:

- <a href="#sale-creation">trackSaleCreation</a>
- <a href="#sale-updates">trackSaleUpdate</a>

If you are using the Python or PHP SDKs, the functions for tracking Sales activity require a [InspetorSale](#inspetorsale) object as an argument and return `true` upon successful execution. Otherwise, one of the following exceptions will be thrown:

Exception | Description
--------- | -----------
**[SaleException](#inspetorsaleexception)**         | The Transfer object provided is not a valid one
**[ItemException](#inspetoritemexception)**         | The Item object provided on the Sale is not a valid one
**[PaymentException](#pinspetoraymentexception)**   | The Payment object provided on the Sale is not a valid one
**[generalException](#inspetorgeneralexception)** | The timestamps that you passed on the objects are not valid ones
**[TrackerException](#trackerexception)**   | An internal error occurred *Hopefully this never happen*
