## Account Activity

You can send account-related information to Inspetor via the REST API. The `/accounts` endpoint supports `POST` (create), `PUT` (update), and `DELETE` (delete) operations with the following arguments:

Property               | When is it required?   | Type                | Description
---------------------- | ---------------------  | ----                | -----------
id                     | `POST`, `PUT`, `DELETE`| String              | Your unique identifier for this account in your platform
email                  | `POST`                 | String              | The email associated with the account
document               |                        | String              | The Document number associated with the account.
document_type          |                        | String              | The Document type associated with the account's document number. Accpeted values are `cpf`, `passport`, and `rne`.
phone_number           |                        | Integer             | The phone number associated with the account (numbers only; country code not included)
phone_country_code     |                        | Integer             | The international country code associated with the phone number (numbers only)
password_hash          | `POST`                 | String              | The **secure** (salted and hashed) password associated with the account 
first_name             |                        | String              | The first name of the user
last_name              |                        | String              | The last name of the user
address                |                        | [Address](#addresses) | The address associated with the account


<p><%= partial "modules/collection-api/account/actions/create.md.erb" %></p>
<p><%= partial "modules/collection-api/account/actions/update.md.erb" %></p>
<p><%= partial "modules/collection-api/account/actions/delete.md.erb" %></p>