## Items Transfers

The following functions will be used to relay item (*e.g. ticket*) transfers between users (*e.g. accounts*) that happen within your platform:

- **Item Transfer Creation** (*trackItemTransferCreation*)
- <a href="#transfer-creation">trackTransferCreation</a>
- <a href="#transfer-updates">trackTransferUpdate</a>
- **Item Transfer Update** (*trackItemTransferUpdate*)

Identical functionality is also available via the REST API. The `/transfer` endpoint supports POST and PUT operations with the following required arguments:

Property | Required For Creation | Required For Update | Type | Description
-------- | --------------------- | ------------------- | ---- | -----------
**transfer_id**       | Yes | Yes | String  | Your platform-unique identifier for the transfer
**sale_id**           | Yes | No  | String  | Your platform-unique identifier for the **sale** associated with the items being transfered
**item_id**           | Yes | No  | String  | The id of the [InspetorItem](#inspetoritem) (*e.g. ticket*) that is being transfered
**sender_account_id** | Yes | No  | String  | The id of the account who is transferring the item (*e.g. ticket*)
**recipient_email**   | Yes | No  | String  | The email of the user who is receiving the item (*e.g. ticket*)
**status**            | Yes | Yes | String  | The status of the transfer. *The allowed values are: `accepted`, `rejected`, and `pending`*

All the functions for tracking transfer activity require a [InspetorTransfer](#inspetortransfer) object as argument and return `true` if everything goes right. Otherwise, one of the the following exceptions will be thrown:

Exception | Description
--------- | -----------
**[TransferException](#inspetortransferexception)**  | The Transfer object provided is not a valid one
**[generalException](#inspetorgeneralexception)**  | The timestamps that you passed on the objects are not valid ones
**[TrackerException](#trackerexception)**    | An internal error occurred *Hopefully this never happen*

<p><%= partial "modules/collection-api/transfer/actions/create.md.erb" %></p>
<p><%= partial "modules/collection-api/transfer/actions/update.md.erb" %></p>